@use "Resolutions" as *;

.planetContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0;
  grid-template-areas:
    "planetButtons"
    "planetPicture"
    "planetInfo"
    "planetQuickInfo";

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "planetPicture planetPicture"
      "planetInfo planetButtons"
      "planetQuickInfo planetQuickInfo";
  }

  @include desktopSmall {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "planetPicture planetInfo"
      "planetPicture planetButtons"
      "planetQuickInfo planetQuickInfo";
  }
}

.planetButtonsContainer {
  grid-area: planetButtons;
  display: flex;
  justify-content: space-between;
  font-size: var(--f-s);
  font-weight: bold;
  margin-bottom: 9.5rem;
  padding: 2rem 0;

  @include tablet {
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    padding: 0;
    margin-left: 6.9rem;
    margin-bottom: 0;
  }

  @include desktopSmall {
    justify-content: start;
    max-width: 36rem;
    width: 100%;
    margin-left: auto;
    margin-bottom: 8.7rem;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 6.2rem;
    width: 100%;
    left: 0;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.2);

    @include tablet {
      content: none;
    }
  }

  &__button {
    position: relative;
    width: 8rem;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.93px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;

    &.--two {
      &:after {
        content: "Structure";
      }
    }
    &.--three {
      &:after {
        content: "Surface";
      }
    }

    @include tablet {
      width: 100%;
      padding-block: 0.8rem;
      padding-left: 2rem;
      text-align: left;
      line-height: 2.5rem;
      border: 1px solid rgba(216, 216, 216, 0.2);

      &:before {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 1.7rem;
      }

      &.--one {
        &:before {
          content: "01";
        }
      }
      &.--two {
        &:before {
          content: "02";
        }
        &:after {
          content: "Internal Structure";
        }
      }
      &.--three {
        &:before {
          content: "03";
        }
        &:after {
          content: "Surface Geology";
        }
      }
    }

    @include desktopSmall {
      cursor: pointer;
      letter-spacing: 2.57px;
      padding-block: 1.05rem;
      &:hover {
        border-color: transparent;
        background-color: rgba(216, 216, 216, 0.2);
      }
    }

    span {
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 3.8rem;
        width: 0;
        height: 0.4rem;
        background-color: inherit;
        transition: all 0.2s ease-in-out;
        transform: scaleX(0); //rozwijanie się bordera od środka
      }
    }

    &.--active {
      color: var(--c-white);

      @include tablet {
        color: var(--col-white);
        border-color: transparent;

        &.--mercury {
          background-color: var(--c-mercury);
        }
        &.--venus {
          background-color: var(--c-venus);
        }
        &.--earth {
          background-color: var(--c-earth);
        }
        &.--mars {
          background-color: var(--c-mars);
        }
        &.--jupiter {
          background-color: var(--c-jupiter);
        }
        &.--saturn {
          background-color: var(--c-saturn);
        }
        &.--uranus {
          background-color: var(--c-uranus);
        }
        &.--neptune {
          background-color: var(--c-neptune);
        }
      }
      span {
        &.--mercury {
          background-color: var(--c-mercury);
        }
        &.--venus {
          background-color: var(--c-venus);
        }
        &.--earth {
          background-color: var(--c-earth);
        }
        &.--mars {
          background-color: var(--c-mars);
        }
        &.--jupiter {
          background-color: var(--c-jupiter);
        }
        &.--saturn {
          background-color: var(--c-saturn);
        }
        &.--uranus {
          background-color: var(--c-uranus);
        }
        &.--neptune {
          background-color: var(--c-neptune);
        }
        &:after {
          width: 100%;
          transform: scaleX(1); //rozwijanie się bordera od środka

          @include tablet {
            content: none;
          }
        }
      }
    }
  }
}
.planetPictureContainer {
  grid-area: planetPicture;
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 9.8rem;

  @include tablet {
    margin-bottom: 13rem;
  }

  @include desktopSmall {
    margin-bottom: 8.7rem;
  }

  &__image {
    ~ img {
      bottom: -15%;

      @include desktopSmall {
        bottom: -3%;
      }
    }
    &.--mercury {
      max-width: 11.1rem;
      max-height: 11.1rem;
      width: 11.1rem;
      height: 11.1rem;

      @include tablet {
        max-width: 18.4rem;
        max-height: 18.4rem;
        width: 18.4rem;
        height: 18.4rem;
      }

      @include desktopSmall {
        max-width: 29rem;
        max-height: 29rem;
        width: 29rem;
        height: 29rem;
      }
      ~ img {
        bottom: -20%;

        @include desktopSmall {
          bottom: -3%;
        }
      }
    }
    &.--venus {
      max-width: 15.4rem;
      max-height: 15.4rem;
      width: 15.4rem;
      height: 15.4rem;

      @include tablet {
        max-width: 25.3rem;
        max-height: 25.3rem;
        width: 25.3rem;
        height: 25.3rem;
      }

      @include desktopSmall {
        max-width: 40rem;
        max-height: 40rem;
        width: 40rem;
        height: 40rem;
      }
    }
    &.--earth {
      max-width: 17.3rem;
      max-height: 17.3rem;
      width: 17.3rem;
      height: 17.3rem;

      @include tablet {
        max-width: 28.5rem;
        max-height: 28.5rem;
        width: 28.5rem;
        height: 28.5rem;
      }

      @include desktopSmall {
        max-width: 45rem;
        max-height: 45rem;
        width: 45rem;
        height: 45rem;
      }
    }
    &.--mars {
      max-width: 12.9rem;
      max-height: 12.9rem;
      width: 12.9rem;
      height: 12.9rem;

      @include tablet {
        max-width: 21.3rem;
        max-height: 21.3rem;
        width: 21.3rem;
        height: 21.3rem;
      }

      @include desktopSmall {
        max-width: 33.6rem;
        max-height: 33.6rem;
        width: 33.6rem;
        height: 33.6rem;
      }

      ~ img {
        bottom: -18%;

        @include desktopSmall {
          bottom: -3%;
        }
      }
    }
    &.--jupiter {
      max-width: 22.4rem;
      max-height: 22.4rem;
      width: 22.4rem;
      height: 22.4rem;

      @include tablet {
        max-width: 36.9rem;
        max-height: 36.9rem;
        width: 36.9rem;
        height: 36.9rem;
      }

      @include desktopSmall {
        max-width: 58.2rem;
        max-height: 58.2rem;
        width: 58.2rem;
        height: 58.2rem;
        ~ img {
          bottom: 3%;
        }
      }
    }
    &.--saturn {
      max-width: 25.6rem;
      max-height: 25.6rem;
      width: 25.6rem;
      height: 25.6rem;

      @include tablet {
        max-width: 42.2rem;
        max-height: 42.2rem;
        width: 42.2rem;
        height: 42.2rem;
      }

      @include desktopSmall {
        max-width: 61.6rem;
        max-height: 61.6rem;
        width: 61.6rem;
        height: 61.6rem;
      }

      ~ img {
        bottom: 12.5%;

        @include desktopSmall {
          bottom: 11%;
        }
      }
    }
    &.--uranus {
      max-width: 17.6rem;
      max-height: 17.6rem;
      width: 17.6rem;
      height: 17.6rem;

      @include tablet {
        max-width: 29rem;
        max-height: 29rem;
        width: 29rem;
        height: 29rem;
      }

      @include desktopSmall {
        max-width: 45.8rem;
        max-height: 45.8rem;
        width: 45.8rem;
        height: 45.8rem;
      }
    }
    &.--neptune {
      max-width: 17.3rem;
      max-height: 17.3rem;
      width: 17.3rem;
      height: 17.3rem;

      @include tablet {
        max-width: 28.5rem;
        max-height: 28.5rem;
        width: 28.5rem;
        height: 28.5rem;
      }

      @include desktopSmall {
        max-width: 45rem;
        max-height: 45rem;
        width: 45rem;
        height: 45rem;
      }
    }
  }

  &__geologyImage {
    position: absolute;
    max-width: 5.43rem;
    max-height: 6.63rem;

    @include tablet {
      max-width: 8.15rem;
      max-height: 9.95rem;
    }

    @include desktopSmall {
      max-width: 16.3rem;
      max-height: 19.9rem;
    }
  }
}
.planetInfoContainer {
  grid-area: planetInfo;
  text-align: left;
  margin-bottom: 2.8rem;

  @include tablet {
    margin-bottom: 2.7rem;
  }
  @include desktopSmall {
    max-width: 36rem;
    margin-bottom: 3.9rem;
    margin-left: auto;
  }

  &__heading {
    text-transform: uppercase;
    margin-bottom: 1.6rem;

    @include tablet {
      margin-bottom: 2.4rem;
    }
  }

  &__info {
    margin-bottom: 3.2rem;
    @include desktopSmall {
      min-height: 15rem;
    }
  }

  &__source {
    display: flex;
    justify-content: start;
    color: rgba(255, 255, 255, 0.5);
    span {
      &:after {
        content: ":";
        display: inline-block;
        margin-inline: 0.3rem;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
    &:after {
      content: "";
      background: url("../assets/icon-source.svg");
      width: 1.2rem;
      height: 1.2rem;
      margin-left: 0.4rem;
    }
  }
}
.planetQuickInfoContainer {
  grid-area: planetQuickInfo;
  display: grid;
  gap: 0.8rem;
  margin-bottom: 4.7rem;

  @include tablet {
    display: flex;
    gap: 1.1rem;
  }
}

.planetCharacteristics {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.2);

  @include tablet {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 1.6rem;
    padding-inline: 1.5rem;
    padding-right: 0;
  }

  &__first {
    color: rgba(255, 255, 255, 0.5);
    font-size: var(--f-xs);
    letter-spacing: 0.73px;
    font-weight: bold;

    @include tablet {
      padding-bottom: 0.6rem;
    }

    @include desktopSmall {
      letter-spacing: 1px;
    }
  }

  &__second {
    font-family: "Antonio", sans-serif;
    font-size: var(--f-l);
    font-weight: 400;
    letter-spacing: -0.75px;

    @include tablet {
      line-height: normal;
      letter-spacing: -0.9px;
    }
    @include desktopSmall {
      letter-spacing: -1.5px;
    }
  }
}
